@inherits LayoutComponentBase
@inject Microsoft.Extensions.Options.IOptions<SharpBlogX.Options.BlogOptions> BlogOptions

<div class="container__b__0">
    <div class="lang"></div>
    <div class="content">
        <div class="top">
            <div class="header">
                <Avatar Size="64" Icon="user" Class="logo" Src="https://cdn.jsdelivr.net/gh/cnsimo/pic_bed@master/ZPy86P.png" />
            </div>
            <div class="desc">@BlogOptions.Value.Title 博客管理后台</div>
        </div>
        @Body
    </div>
    <SharpBlogX.Admin.Shared.Footer />
</div>